* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	box-sizing: border-box;
}

body {
	font: 12px Arial, Tahoma;
	color: #999999;
}

p {
	margin: 0 0 10px;
}

img {
	border: 0;
}

a, a:link, a:visited {
	text-decoration: none;
	outline: 0;
	color: #ff8827;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
}

header, footer, section, article, aside, nav, menu {
	display: block;
}

.btn::-moz-focus-inner {
	border:0;
	padding:0;
} /* To remove extra padding from input button... .button is the class name of the input button */









.null {
	line-height: 0;
	font-size: 0;
}




























