$lightest-gray: #F5F5F5;
$lighter-gray: #EFEFEF;
$gray: #979797;
$dark-gray: #4C4C4C;

$white: #ffffff;
$black: #000000;

$chat-light-blue: #19415B;
$chat-blue: #0E3752;
$chat-dark-blue: #0B2E45;

$dark-red: #C50101;

$light-sky: #A9BBC7;
$gray-sky: #60737F;
$gray-sky-light: #A9BBC7;

$sky-blue-light: #E9F3F9;
$sky-blue-gray: #DEE8EF;

$green: #01C53F;